
<div class="comments">
    <div id="container"></div>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
    var gitment = new Gitment({
    owner: 'whatilove',
    repo: 'whatilove.github.io',
    oauth: {
        client_id: 'd1d57093cc31e5befd04',
        client_secret: '220b2bf65c804f38de56504caba5616591e35043',
    }
    })
    gitment.render('container')
    </script>

</div>
