<h3 class="sidebar-title">分类</h3>
<div id="blog-categories">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{site.url}}/java-io">Java IO</a>
            <span class="badge">{{ site.categories['Java IO'].size }}</span>
        </li>
        <li class="list-group-item">
            <a href="{{site.url}}/java-web">Java Web</a>
            <span class="badge">{{ site.categories['Java Web'].size }}</span>
        </li>
        <li class="list-group-item">
            <a href="{{site.url}}/pattern">设计模式</a>
            <span class="badge">{{ site.categories['设计模式'].size }}</span>
        </li>
        <li class="list-group-item">
            <a href="{{site.url}}/pattern">Spring Cloud</a>
            <span class="badge">{{ site.categories['Spring Cloud'].size }}</span>
        </li>
    </ul>
</div>
<script type="text/javascript">

    $(document).ready(function(){
        $("#blog-categories li").css('text-transform','capitalize')
    });

</script>